extends layout

block content
  h1= title
  .container-fluid
    .row
      - let results = [{ name: 'royal', color: 'Red', price: 19999.99 },{ name: 'nina', color: 'green', price: 9990.99 },{ name: 'gixer', color: 'Orange', price: 1999.49 }]
      each bikes,index in results
        div(class="col-sm-2" onclick =`buy(${index})`)
          h4= bikes.name
          p Color: #{bikes.color}
          p Price: $#{bikes.price.toFixed(2)}
    a(href="/") Back to Index
  script.
    function buy(i)
    {
      alert(`You purchased Item ${i+1}`)
    }
